<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctsi.android.lib.im.ui">

    <application>
        <activity
            android:name=".activity.ChatRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>